<div class="container-fluid">
  <h3> Notifications </h3>
  <div id="notifications_list">
    <% @notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  </div>
</div>


